.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 18px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(14px);
  z-index: 1000;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}

.logo span {
  color: #38BDF8;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  cursor: pointer;
  transition: .3s;
  font-size: 16px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #38BDF8;
}

.resume-btn {
  padding: 10px 22px;
  border-radius: 30px;
  background: linear-gradient(90deg,#2563EB,#06B6D4);
  color: white !important;
  font-weight: 600;
}

.resume-btn:hover {
  transform: translateY(-2px);
}

.menu-icon {
  display: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Mobile */

@media (max-width:768px){

.nav-links{
position:absolute;
top:75px;
left:-100%;
width:100%;
background:#0F172A;
flex-direction:column;
padding:30px 0;
transition:.4s;
gap:25px;
}

.nav-links.active{
left:0;
}

.menu-icon{
display:block;
}

}